@model Uber.Web.Models.LoginModel

@{
    var X = Html.X();
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section bodytag
{
    @(Html.X().Window()
        .Closable(false)
        .CloseAction(CloseAction.Destroy)
        .Resizable(false)
        .Height(150)
        .Icon(Icon.Lock)
        .Title("Login")
        .Draggable(false)
        .Width(350)
        .Modal(true)
        .BodyPadding(5)
        .Layout(LayoutType.Fit)
        .Items(
            X.FormPanelFor(m => m)
                .Border(false)
                .BodyStyle("background-color:transparent;")
                .DefaultAnchor("100%")
                .Content(c => Html.AntiForgeryToken())
        ).Buttons(
            Html.X().Button()
                .Text("Login")
                .Icon(Icon.Accept)
                .DirectEvents(de => {
                    de.Click.Action = "Login";
                    de.Click.Success = "this.up('window').close();";
                    de.Click.EventMask.ShowMask = true;
                    de.Click.EventMask.Msg = "Verifying...";
                    de.Click.EventMask.MinDelay = 1000;
                    de.Click.FormID = "#(return this.up('window').down('form');)";
                })
        )
    )
}

@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
<h2>Use a local account to log in.</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <input type="submit" value="Log in" />
    </fieldset>
    <p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>
}
</section>

<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@
